version: "3.8"

services:
  api:
    build: .
    container_name: task-manager-api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    volumes:
      - ./database:/app/data_persist
    restart: always
